# Demo Code on how to filter csv to retrieve set of CRNs to query Companies House API

In [1]:
import pandas as pd
from query_companies_house import main

In [2]:
df = pd.read_csv("UK_Gender_Pay_Gap_Data_2017_to_2018.csv")

In [3]:
df.columns

Index(['EmployerName', 'Address', 'CompanyNumber', 'SicCodes',
       'DiffMeanHourlyPercent', 'DiffMedianHourlyPercent',
       'DiffMeanBonusPercent', 'DiffMedianBonusPercent', 'MaleBonusPercent',
       'FemaleBonusPercent', 'MaleLowerQuartile', 'FemaleLowerQuartile',
       'MaleLowerMiddleQuartile', 'FemaleLowerMiddleQuartile',
       'MaleUpperMiddleQuartile', 'FemaleUpperMiddleQuartile',
       'MaleTopQuartile', 'FemaleTopQuartile', 'CompanyLinkToGPGInfo',
       'ResponsiblePerson', 'EmployerSize', 'CurrentName',
       'SubmittedAfterTheDeadline'],
      dtype='object')

In [4]:
df.EmployerSize

0            500 to 999
1            250 to 499
2            500 to 999
3            250 to 499
4            250 to 499
5            250 to 499
6            500 to 999
7            250 to 499
8            250 to 499
9            250 to 499
10       5000 to 19,999
11         1000 to 4999
12         1000 to 4999
13         1000 to 4999
14           500 to 999
15           500 to 999
16           250 to 499
17         1000 to 4999
18           250 to 499
19         1000 to 4999
20         1000 to 4999
21           250 to 499
22           250 to 499
23           250 to 499
24           250 to 499
25           500 to 999
26           500 to 999
27           250 to 499
28           500 to 999
29           250 to 499
              ...
10483        500 to 999
10484        250 to 499
10485      1000 to 4999
10486      1000 to 4999
10487        250 to 499
10488     Less than 250
10489        250 to 499
10490      1000 to 4999
10491        250 to 499
10492        500 to 999
10493        250 to 499
10494        250 to 499
10495        250 to 499
10496        250 to 499
10497        250 to 499
10498        250 to 499
10499        250 to 499
10500        250 to 499
10501        250 to 499
10502        250 to 499
10503        250 to 499
10504      1000 to 4999
10505        250 to 499
10506        250 to 499
10507        250 to 499
10508        500 to 999
10509      1000 to 4999
10510      1000 to 4999
10511        250 to 499
10512        500 to 999
Name: EmployerSize, Length: 10513, dtype: object

In [5]:
df.EmployerSize.unique()

array(['500 to 999', '250 to 499', '5000 to 19,999', '1000 to 4999',
       'Not Provided', 'Less than 250', '20,000 or more'], dtype=object)

In [6]:
df = df[(df.EmployerSize != '250 to 499') & (df.EmployerSize != 'Less than 250') & (df.EmployerSize != 'Not Provided')]

In [7]:
df.loc[0]

EmployerName                                   "Bryanston School",Incorporated
Address                      Bryanston House,\r\nBlandford,\r\nDorset,\r\nU...
CompanyNumber                                                         00226143
SicCodes                                                                 85310
DiffMeanHourlyPercent                                                       18
DiffMedianHourlyPercent                                                   28.2
DiffMeanBonusPercent                                                         0
DiffMedianBonusPercent                                                       0
MaleBonusPercent                                                             0
FemaleBonusPercent                                                           0
MaleLowerQuartile                                                         24.4
FemaleLowerQuartile                                                       75.6
MaleLowerMiddleQuartile                                                   50.8
FemaleLowerMiddleQuartile                                                 49.2
MaleUpperMiddleQuartile                                                   49.2
FemaleUpperMiddleQuartile                                                 50.8
MaleTopQuartile                                                           51.5
FemaleTopQuartile                                                         48.5
CompanyLinkToGPGInfo                    https://www.bryanston.co.uk/employment
ResponsiblePerson              Nick McRobb (Bursar and Clerk to the Governors)
EmployerSize                                                        500 to 999
CurrentName                                    "Bryanston School",Incorporated
SubmittedAfterTheDeadline                                                False
Name: 0, dtype: object

In [8]:
df.head()

,EmployerName,Address,CompanyNumber,SicCodes,DiffMeanHourlyPercent,DiffMedianHourlyPercent,DiffMeanBonusPercent,DiffMedianBonusPercent,MaleBonusPercent,FemaleBonusPercent,...,FemaleLowerMiddleQuartile,MaleUpperMiddleQuartile,FemaleUpperMiddleQuartile,MaleTopQuartile,FemaleTopQuartile,CompanyLinkToGPGInfo,ResponsiblePerson,EmployerSize,CurrentName,SubmittedAfterTheDeadline
0,"""Bryanston School"",Incorporated","Bryanston House,\r\nBlandford,\r\nDorset,\r\nU...",00226143,85310,18.0,28.2,0.0,0.0,0.0,0.0,...,49.2,49.2,50.8,51.5,48.5,https://www.bryanston.co.uk/employment,Nick McRobb (Bursar and Clerk to the Governors),500 to 999,"""Bryanston School"",Incorporated",False
2,118 LIMITED,"Fusion Point,\r\nDumballs Road,\r\nCardiff,\r\...",03951948,61900,1.7,2.8,13.1,13.6,70.0,57.0,...,47.0,50.0,50.0,58.0,42.0,NaN,"Emma Crowe (VP, Human Resources)",500 to 999,118 LIMITED,False
6,1LIFE MANAGEMENT SOLUTIONS LIMITED,"Ldh House St Ives Business Park,\r\nParsons Gr...",02566586,"93110,\r\n93130,\r\n93290",15.1,2.8,77.6,71.2,5.8,4.2,...,54.8,46.8,53.2,35.5,64.5,http://www.1life.co.uk/gender-pay-gap,Mark Braithwaite (Managing Director),500 to 999,1LIFE MANAGEMENT SOLUTIONS LIMITED,False
10,2 SISTERS FOOD GROUP LIMITED,"Trinity Park House Trinity Business Park, Fox ...",02826929,10120,15.3,6.9,55.5,1.6,5.6,5.1,...,32.4,66.2,33.8,73.7,26.3,https://www.2sfg.com/about-us/how-we-work/gender/,Nigel Perry (Group People & Change Director),"5000 to 19,999",2 SISTERS FOOD GROUP LIMITED,False
11,2 SISTERS POULTRY LIMITED,"George Street, Coupar Angus,\r\nBlairgowrie,\r...",SC440782,10120,4.9,4.8,39.8,0.0,22.2,12.4,...,31.5,68.5,31.5,72.4,27.6,https://www.2sfg.com/about-us/how-we-work/gender/,Nigel Perry (Group People & Change Director),1000 to 4999,2 SISTERS POULTRY LIMITED,False

In [9]:
df_close_to_parity = df[(df['DiffMedianHourlyPercent'] < 5) & (df['DiffMedianHourlyPercent'] > 0)]

In [10]:
df_close_to_parity = df_close_to_parity.dropna(subset = ['CompanyNumber'])

In [11]:
company_numbers = df_close_to_parity.CompanyNumber.values

In [12]:
for company_num in company_numbers:

SyntaxError: unexpected EOF while parsing (<ipython-input-12-5c5926e50258>, line 2)